// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.vote-section button.btn-light {
    background-color: #e1e1e1
}

a {
    color: #2f88ce;
}

#notifications-badge {
    right: 10px;
    bottom: 10px;
}

#notification-dropdown .fa-circle {
    color: #007bff !important;
    font-size: xx-small;
}

img.user-avatar-sm {
    border-radius: 50px;
    border: double 1px black;
}

[v-cloak] {
    display: none;
}